* {
  box-sizing: border-box;

  &::selection {
    color: var(--color-white);
    background-color: var(--color-primary-dark);
  }

  &::-webkit-scrollbar {
    width: 4px;
  }

  &::-webkit-scrollbar-track {
    margin: 8px 0;
    background: transparent;
  }

  &::-webkit-scrollbar-thumb {
    background: var(--color-gray);
    border-radius: 8px;

    &:hover {
      background: var(--color-gray-dark);
    }
  }
}

body {
  padding: 0;
  margin: 0;
  font-size: 1rem;
  line-height: 1.5;
}

a {
  width: fit-content;
  color: var(--color-primary);

  &:hover {
    color: var(--color-primary-dark);
  }
}

h1,
h2,
h3 {
  margin-top: 0;
  margin-bottom: 24px;
  font-weight: 700;
  line-height: 1.2;
}

section {
  margin: 0;
}

section + section {
  margin: 64px 0;
}

p {
  margin: 0;
}

p + p {
  margin: 12px 0;
}

ul {
  padding-left: 20px;
  margin: 0;
}

img {
  display: flex;
  max-width: 100%;
  height: auto;
  pointer-events: none;
}
