:root {
  --color-primary-dark: #0f67a7;
  --color-primary: #2593e3;
  --color-primary-light: #9fd7ff;
  --color-primary-light-extra: #e3f3ff;

  --color-success-dark: #01b028;
  --color-success: #01bd78;
  --color-success-light: #90f8d2;

  --color-error-dark: #d40019;
  --color-error: #d40019;
  --color-error-light: #f98a97;

  --color-black: #000;
  --color-white: #fff;
  --color-transparent: rgba(0, 0, 0, 0);

  --color-gray-dark-extra: #a6a6a6;
  --color-gray-dark: #bcbcbc;
  --color-gray: #dfdfdf;
  --color-gray-light: #f4f4f4;
  --color-gray-light-extra: #f9f8f8;
  --color-gray-transparent: rgba(150, 150, 150, 50%);
}
