:root {
  --color-primary-light-extra: #e3f3ff;
  --color-primary-light: #9fd7ff;
  --color-primary: #006cbb;
  --color-primary-dark: #003a70;

  --color-accent: #5325e3;
  --color-accent-dark: #200183;
  --color-accent-light: #dd0eff;

  --color-white-transparent: rgba(255, 255, 255, 50%);
  --color-gray-transparent: rgba(150, 150, 150, 50%);
  --color-black-transparent: rgba(0, 0, 0, 50%);
  --color-transparent: rgba(0, 0, 0, 0);

  --color-white: #fff;
  --color-gray-light-extra: #f9f8f8;
  --color-gray-light: #f4f4f4;
  --color-gray: #dfdfdf;
  --color-gray-dark: #bcbcbc;
  --color-gray-dark-extra: #a6a6a6;
  --color-black: #000;

  --color-success-light: #aeffc0;
  --color-success: #01bd78;
  --color-success-dark: #158a5f;

  --color-error-light: #ffc1c9;
  --color-error: #d40019;
  --color-error-dark: #8c1725;
}
